.navbar .container-fluid .nav-link .btn-light {
    border: 20px solid;
    padding: 0px 15px;
    position: relative;
    border-image: url("assets/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg") 20 stretch;
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
}

.navbar .container-fluid .collapse {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carousel-image {
    margin: 20px 0px 20px 0px;
    width: 100%;
}

#fluid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#fluid-container .card img {
    height: 250px;
}

#fluid-container .card {
    margin-top: 20px;

}

/* .navbar .container-fluid .nav-link .btn-light:after {
    background: linear-gradient(to right, #bcbcbc 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
    position: absolute;
} */


/* limitint text to 2lines*/
.fluid-container .card .card-body .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.login {
    color: #072F34;
    font-weight: 1000;
    /* font-weight: bolder; */
    font-size: 17px;
    border-bottom: 2px solid #072F34;
    padding-bottom: 2px;
}

.login:hover {
    border-bottom: none;
}

.login-sell {
    display: flex;
    align-items: center;
}

.login-sell a {
    text-decoration: none;
}

.navbar .container-fluid .collapse .modal .modal-dialog .modal-content .modal-header {
    display: flex;
    flex-direction: column;
}


.navbar .container-fluid .collapse .modal .modal-dialog .modal-content .modal-header img {
    margin: 15px 0px;
}

.navbar .container-fluid .collapse .modal .modal-dialog .modal-content .modal-header h5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 25px 0px 35px 0px;
}

.navbar .container-fluid .collapse .modal .modal-dialog .modal-content .modal-header p {
    font-size: 20px;
    text-align: center;
}

.navbar .container-fluid .collapse .modal .modal-dialog .modal-content .modal-header .login-btn {
    display: flex;
    width: 80%;
    align-items: baseline;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 8px;
    padding: 15px 40px 0px 40px;

}



.navbar .container-fluid .collapse .modal .modal-dialog .modal-content .modal-body .modal-body {
    margin: auto 0;
    text-align: center;
}

#ad-details{
    margin-top: 30px;
}

.detailData-price  {
    border: 0.2px solid #A4B3B6;
    border-radius: 5px;
    height: 100%;
}

.detailData-description {
    border: 0.2px solid #A4B3B6;
    border-radius: 5px;
    height: 100%;
    margin-bottom: 20px;
}

.detailData-image {
    margin-bottom: 30px;
    height: 100%;

}